/* import google font */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --font-primary: #dae026;
  --font-secondary: #000000;
  --btn-trans-color: #e56809;
  --box-color: #fefffe;
  overflow-x: hidden;
  /* border: hsl(0, 62%, 49%) solid 4px; */
}

/* styling of hero section */
main .hero .hero-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .hero .logo-img {
  position: absolute;
  width: 60px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
}

main .hero .title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--font-primary);
  font-size: 10em;
  text-align: center;
}

main .hero .subtitle {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: var(--font-primary);
  font-size: 2em;
  text-align: center;
}

main .hero .down-arrow {
  position: absolute;
  width: 50px;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -100%);
}

/* styling of intro page */
main .intro {
  position: relative;
}

main .intro .intro-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .intro .section-heading {
  position: absolute;
  color: var(--font-secondary);
  font-size: 3em;
  left: 25%;
  top: 45%;
  transform: translate(-50%, -100%);
}

main .intro .intro-desc {
  position: absolute;
  color: var(--font-secondary);
  width: 400px;
  left: 80%;
  top: 55%;
  transform: translate(-50%, -100%);
}

main .intro .cta-btn {
  position: absolute;
  left: 80%;
  top: 62%;
  padding: 10px;
  border-radius: 15px;
  transform: translate(-50%, -100%);
  background-color: var(--font-primary);
  transition: background 0.3s ease;
}

main .intro .cta-btn a {
  text-decoration: none;
  color: var(--font-secondary);
}

main .intro .cta-btn:hover {
  background-color: var(--btn-trans-color);
}

/* Styling of activities page */
main .activities {
  position: relative;
}

main .activities .activities-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .activities .section-heading {
  position: absolute;
  color: var(--font-secondary);
  font-size: 3em;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -100%);
}

main .activities .wrapper .container1 .tea-img {
  position: absolute;
  width: 350px;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -100%);
}

main .activities .wrapper .container1 .tea-ceremony-header {
  position: absolute;
  transform: translate(-50%, -100%);
  top: 55%;
  left: 20%;
  color: var(--font-primary);
}

main .activities .wrapper .container1 .down-arrow {
  position: absolute;
  top: 58%;
  left: 20%;
  transform: translate(-50%, -100%);
  width: 20px;
}

main .activities .wrapper .container2 .geisha-img {
  position: absolute;
  width: 350px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);
}

main .activities .wrapper .container2 .geisha-header {
  position: absolute;
  color: var(--font-primary);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -100%);
}

main .activities .wrapper .container2 .down-arrow {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 20px;
}

main .activities .wrapper .container3 .temple-img {
  position: absolute;
  width: 350px;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -100%);
}

main .activities .wrapper .container3 .temple-header {
  position: absolute;
  transform: translate(-50%, -100%);
  top: 55%;
  left: 80%;
  color: var(--font-primary);
}

main .activities .wrapper .container3 .down-arrow {
  position: absolute;
  top: 58%;
  left: 80%;
  transform: translate(-50%, -100%);
  width: 20px;
}

main .activities .cta-btn {
  position: absolute;
  left: 50%;
  top: 80%;
  font-size: 15px;
  padding: 15px;
  border-radius: 15px;
  transform: translate(-50%, -100%);
  background-color: var(--font-primary);
  transition: background 0.3s ease;
}

main .activities .cta-btn a {
  text-decoration: none;
  color: var(--font-secondary);
}

main .activities .cta-btn:hover {
  background-color: var(--btn-trans-color);
}

/* styling of recommendations page */
main .recommendations {
  position: relative;
}

main .recommendations .recommendation-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .recommendations .section-header {
  position: absolute;
  color: var(--font-primary);
  font-size: 3em;
  left: 25%;
  top: 45%;
  margin: auto;
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  transform: translate(-50%, -100%);
}

main .recommendations .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main .recommendations .content .p1 {
  position: absolute;
  margin: auto;
  color: var(--font-primary);
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  top: 25%;
  left: 70%;
  transform: translate(-50%, -100%);
}

main .recommendations .content .clothing-rec {
  position: absolute;
  margin: auto;
  color: var(--font-primary);
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  top: 62%;
  left: 70%;
  transform: translate(-50%, -100%);
}

main .recommendations .content .reservation-and-contact {
  position: absolute;
  margin: auto;
  color: var(--font-primary);
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -100%);
}

/* styling of stats page */
main .stats {
  position: relative;
}

main .stats .stats-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .stats .wrapper1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--box-color);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20%;
  top: 60%;
  transform: translate(-50%, -100%);
}

main .stats .wrapper1 .stat-1-num {
  font-size: 30px;
}

main .stats .wrapper1 .stat-1-desc {
  padding: 10px;
}

main .stats .wrapper2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--box-color);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 60%;
  transform: translate(-50%, -100%);
}

main .stats .wrapper2 .stat-2-num {
  font-size: 30px;
}

main .stats .wrapper2 .stat-2-desc {
  padding: 10px;
}

main .stats .wrapper3 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--box-color);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -100%);
}

main .stats .wrapper3 .stat-3-num {
  font-size: 30px;
}

main .stats .wrapper3 .stat-3-desc {
  padding: 10px;
}

main .stats .wrapper4 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--box-color);
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 80%;
  top: 60%;
  transform: translate(-50%, -100%);
}

main .stats .wrapper4 .stat-4-num {
  font-size: 30px;
}

main .stats .wrapper4 .stat-4-desc {
  padding: 10px;
}

/* styling of author page */
main .author {
  position: relative;
}

main .author .author-bg-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main .author .author-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  border-radius: 50%;
  transform: translate(-50%, -100%);
}

main .author .author-quote {
  position: absolute;
  margin: auto;
  color: var(--font-primary);
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -100%);
}

main .author .author-name {
  position: absolute;
  margin: auto;
  color: var(--font-primary);
  background: var(--font-secondary);
  border-radius: 15px;
  opacity: 0.8;
  padding: 0 1.5rem;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -100%);
}

main .author .down-arrow {
  position: absolute;
  width: 50px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -100%);
}

/* styling of gallery page */
main .gallery {
  position: relative;
  display: flex;
  gap: 0px;
}

main .gallery .img-1 {
  width: 380px;
}

main .gallery .img-2 {
  width: 380px;
}

main .gallery .img-3 {
  width: 380px;
}

main .gallery .img-4 {
  width: 380px;
}

/* styling of footer */
footer {
  position: relative;
}

footer .footer-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

footer .contact-header {
  position: absolute;
  color: var(--font-primary);
  font-size: 3em;
  left: 20%;
  top: 30%;
  transform: translate(-50%, -100%);
}

footer .contact-info {
  position: absolute;
  color: var(--font-primary);
  font-size: 20px;
  left: 20%;
  top: 45%;
  transform: translate(-50%, -100%);
}

footer .link-wrapper {
  position: absolute;
  display: flex;
  left: 19%;
  top: 51%;
  transform: translate(-50%, -100%);
}

footer .contact-form {
  position: absolute;
  left: 75%;
  top: 75%;
  transform: translate(-50%, -100%);
}

footer .contact-form table tr td {
  padding: 5px;
}

footer .contact-form table tr td .name-sect {
  width: 350px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
}

footer .contact-form table tr td .email-sect {
  width: 350px;
  height: 25px;
  border-radius: 5px;
  padding: 5px;
}

footer .contact-form table tr td .message-sect {
  width: 350px;
  height: 250px;
  border-radius: 5px;
  padding: 5px;
}

footer .contact-form {
  margin: 2px;
  background: var(--font-secondary);
  border-radius: 15px;
  padding: 10px;
}

footer .contact-form .btn-wrapper {
  padding: 5px;
}

footer .contact-form .btn-wrapper .submit-btn {
  border-radius: 10px;
  background-color: var(--font-primary);
  width: 100px;
  height: 25px;
  transition: background 0.3s ease;
}

footer .contact-form .btn-wrapper .submit-btn a {
  text-decoration: none;
  color: var(--font-secondary);
}

footer .contact-form .btn-wrapper .submit-btn:hover {
  background-color: var(--btn-trans-color);
}
